body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .head h1 {
    text-align: center;
    margin: auto;
    padding: 1.25rem;
    font-size: 1.625rem;
  }
  
  .head p {
    text-align: center;
    margin: auto;
    padding: 1.25rem;
    position: relative;
    top: -1.5625rem;
    font-size: 0.875rem;
    color: #999;
  }
  
  .box-wrapper {
    text-align: center;
  }

  .projectbox-info {
    width: 21.5625rem;
    height: 5.25rem;
    background-color: #f3f3f3f9;
    margin: auto;
    position: relative;
    top: -0.25rem;
  }

  .horoscope-name {
    font-size: 0.875rem;
    color: #191919;
    position: relative;
    top: -5.0625rem;
  }

  .date {
    font-size: 0.875rem;
    color: #999;
    position: relative;
    top: -5.5rem;
  }